

<div class="wrapper fadeInDown" style="margin-top: 100px">
    
    <div id="formContent">
       
      <!-- Login Form -->
      <form  #f="ngForm" (ngSubmit)="Login(f.value, f)" ngNativeValidate>
          
        <input type="text"  class="fadeIn second" required="required" name="UserName" ngModel  #UserName="ngModel">
        <input type="text"  class="fadeIn third" required="required" name="Password" ngModel  #Password="ngModel">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" routerLink="/Registration">Don't have an account?</a>
      </div> 
      <div id="formFooter" *ngIf="show">
        <label class="underlineHover">This user doesn't have account?</label>
      </div> 
    </div>
  </div>