<div class="container p-3">
  <div class="offset-3 col-6">
    <div class="card">
      <div class="card-header  font-weight-bold" style="font-size: 25px">
        Registration
      </div>
      <div class="card card-body">
        <form [formGroup]="appUser" (ngSubmit)="onSubmit()">
          <!--<form #f="ngForm" [formGroup]="AppUser" (ngSubmit)="onSubmit()" ngNativeValidate >-->
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"
                  style="margin-right: 10px; margin-top: 10px"></i></span>
              <input style="height: 38px; font-size: 15px" placeholder="First Name" id="Name" formControlName="Name"
                class="form-control" required>
              <div *ngIf="f.Name.invalid && (f.Name.dirty || f.Name.touched)">
                <div class="text-danger" *ngIf="f.Name.errors.required">
                  Name is Required!
                </div>
                <div class="text-danger" *ngIf="f.Name.errors.minlength">
                  Must have 4 characters!
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"
                  style="margin-right: 10px; margin-top: 10px"></i></span>
              <input style="height: 38px; font-size: 15px" placeholder="Last Name" id="LastName"
                formControlName="LastName" class="form-control" required>
              <div *ngIf="f.LastName.invalid && (f.LastName.dirty || f.LastName.touched)">
                <div class="text-danger" *ngIf="f.LastName.errors.required">
                  Last name is Required!
                </div>
                <div class="text-danger" *ngIf="f.LastName.errors.minlength">
                  Must have 5 characters!
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"
                  style="margin-right: 10px; margin-top: 10px"></i></span>
              <input style="height: 38px; font-size: 15px" type="date" placeholder="Date Of Birth" id="DateOfBirth"
                formControlName="DateOfBirth" class="form-control" required>
              <div *ngIf="f.DateOfBirth.invalid && (f.DateOfBirth.dirty || f.DateOfBirth.touched)">
                <div class="text-danger" *ngIf="f.DateOfBirth.errors.required">
                  Date Of Birth is Required!
                </div>
                <div class="text-danger" *ngIf="f.DateOfBirth.errors.minlength">
                  Must have 5 characters!
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-paper-plane"
                  style="margin-right: 10px; margin-top: 10px"></i></span>
              <input style="height: 38px; font-size: 15px" placeholder="Email" id="Email" formControlName="Email"
                class="form-control" required>
              <div *ngIf="f.Email.invalid && (f.Email.dirty || f.Email.touched)">
                <div class="text-danger" *ngIf="f.Email.errors.required">
                  Email is Required!
                </div>
                <div class="text-danger" *ngIf="f.Email.errors.email">
                  Must have @regex!!
                </div>
              </div>
            </div>
          </div>
<!-- Write your comments here 
          <div class="form-group">
            <div class="input-group">
              <show-hide-password size="lg" btnStyle="primary" [btnOutline]="false">
                <span class="input-group-addon"><i class="fa fa-key"
                    style="margin-right: 10px; margin-top: 10px"></i></span>
                <input style="height: 38px; font-size: 15px" type="password" placeholder="Password" id="Password"
                  formControlName="Password" class="form-control" required></show-hide-password>
              <div *ngIf="f.Password.invalid && (f.Password.dirty || f.Password.touched)">
                <div class="text-danger" *ngIf="f.Password.errors.required">
                  Last name is Required!
                </div>
                <div class="text-danger" *ngIf="f.Password.errors.minlength">
                  Must have 8 characters!
                </div>
                <div class="text-danger" *ngIf="f.Password.errors.hasNumber">
                  Must have number!
                </div>
                <div class="text-danger" *ngIf="f.Password.errors.hasCapitalCase">
                  Must have Capitala Case!
                </div>
                <div class="text-danger" *ngIf="f.Password.errors.hasSmallCase">
                  Must have Small Case!
                </div>
                <div class="text-danger" *ngIf="f.Password.errors.hasSpecialCharacters">
                  Must have Special Character!
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
                <show-hide-password size="lg" btnStyle="primary" [btnOutline]="false">
              <span style="height: 38px; font-size: 15px" class="input-group-addon"><i class="fa fa-key"
                  style="margin-right: 10px; margin-top: 10px"></i></span>
              <input style="height: 38px; font-size: 15px" type="password" placeholder="Confirm Password"
                id="ConfirmPassword" formControlName="ConfirmPassword" class="form-control" required>
              </show-hide-password>
              <div *ngIf="f.ConfirmPassword.invalid && (f.ConfirmPassword.dirty || f.ConfirmPassword.touched)">
                <div class="text-danger" *ngIf="f.ConfirmPassword.errors.required">
                  Confirm is Required!
                </div>
                <div class="text-danger" *ngIf="f.ConfirmPassword.errors?.MutchPassword">Password not match</div>
                <div class="text-danger">Password not matched!</div>
              </div>
            </div>
          </div>
-->
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"
                  style="margin-right: 10px; margin-top: 10px"></i></span>
              <input style="height: 33px; font-size: 15px" placeholder="Address" id="Address" formControlName="Address"
                class="form-control" required>
              <div *ngIf="f.Address.invalid && (f.Address.dirty || f.Address.touched)">
                <div class="text-danger" *ngIf="f.Address.errors.required">
                  Address is Required!
                </div>
                <div class="text-danger" *ngIf="f.Address.errors.minlength">
                  Must have 6 characters!
                </div>
                <div class="text-danger" *ngIf="f.Address.errors.hasNumber">
                  Must have number!
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"
                  style="margin-right: 10px; margin-top: 10px"></i></span>
              <select style="height: 38px; font-size: 15px" placeholder="Type" id="Type" formControlName="Type"
                class="form-control" required>
                <option value="Regular">Regular</option>
                <option value="Student">Student</option>
                <option value="Pensioner">Pensioner</option>
              </select>
              <div *ngIf="f.Type.invalid && (f.Type.dirty || f.Type.touched)">
                <div class="text-danger" *ngIf="f.Type.errors.required">
                  Type is Required!
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"
                  style="margin-right: 10px; margin-top: 10px"></i></span>
              <input style="height: 38px; font-size: 15px" type="file" id="ImageUrl" (change)="onFileChanged($event)"
                formControlName="ImageUrl">
            </div>
          </div>
          <button type="submit" class="btn btn-default" style="margin-left: 180px" [disabled]="appUser.invalid ">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
